.task-action{
    cursor: pointer;
}

.blanco{
    color: white;
}

.centrar{
    text-align: center;
}



.task-completed{
    color: gray;
    text-decoration: line-through;
}

.task-pending{
    color: tomato;
    font-weight: bold;   
}

.error {
    color: white;
    background-color: tomato;
}